/* You can add global styles to this file, and also import other style files */
.loginBackgroundGradient {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
